.todoApp__list {
    align-items: center;
}

.todoApp {
    max-width: 400px;
    border: 2px solid red;
    border-radius: 5%;
    text-align: center;
    align-items: center;
}

.todoApp__todo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    align-items: center;
}

.add__button {
    margin-top: 10px;
    margin-bottom: 10px;
}